* {
    box-sizing: border-box;
}

table {
    width: 100%;
}

thead {
    /* border-bottom: 1px solid; */
    background-color: #3bb6b6;
}

tr:nth-child(even) {
    background-color: rgba(150, 212, 212, 0.4);
}

thead:nth-child(even),
tbody:nth-child(even) {
    background-color: rgba(150, 212, 212, 0.4);
}
td:hover {
    background-color: #D6EEEE;
}